footer {
    background-color: white;
}

.footer-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1180px;
}

footer section {
    max-width: 1200px;
}

footer h4 {
    color: var(--gris-oscuro);
    font-size: 18px;
}

footer p {
    color: var(--gris-oscuro);
    font-size: 14px;
}

.info {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.info .footer-text {
    padding: 20px 0 10px 0;
}

.info i {
    font-size: 26px;
    color: var(--celeste);
}

.copyright {
    padding: 28px 0 16px 16px;
    margin: auto;
    text-align: center;
}

/*------------------------ MEDIA QUERIES ------------------------*/

@media (min-width: 1060px) {
    .footer-data section {
        width: 30%;
    }

    .info i:hover {
        color: #0022AA;
    }
}
