@import url(var.css);
@import url(header.css);
@import url(footer.css);

main {
    margin: auto;
    width: 90vw;
    max-width: 1200px;
}

main section {
    padding: 16px 0;
}

main article {
    margin: 24px 0;
}

main h2 {
    font-size: 24px;
    padding: 12px 0;
    color: var(--gris-oscuro);
}

main p {
    font-size: 12px;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-flex li {
    width: 80%;
}

.article-data {
    background-color: white;
    border-top: solid 1px var(--gris-claro);
    padding: 15px;
}

.logo-envio {
    position: relative;
}

.logo-envio i {
    display: block;
    font-size: 16px ;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    color: var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -30px;
}

.pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precio {
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: var(--verde);
    width: 50%;
}

main article img {
    max-width: 100%;
    vertical-align: bottom;
}

.descripcion {
    display: none;
    font-size: 16px;
    color: var(--gris-oscuro);
    margin-top: 16px;
}


/*------------------------ MEDIA QUERIES ------------------------*/

@media (min-width: 600px) {
    .article-data {
        padding-bottom: 51px;
    }

    main article:hover .descripcion {
        display: block;
    }

    main article:hover .article-data {
        padding-bottom: 15px;
    }

    main article:hover {
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
        cursor: pointer;
    }

    main article {
        transition: box-shadow 150ms;
    }

    main article:hover .logo-envio i {
        transform: rotate(-90deg);
    }

    .logo-envio i {
        transition: transform 450ms;
    }

    .main-flex li {
        width: 40%;
    }
}


@media (min-width: 1060px) {
    .main-flex li {
        width: 20%;
    }
}
