@import url(var.css);
@import url(header.css);
@import url(footer.css);

main {
    margin: auto;
    width: 90vw;
    max-width: 800px;
}

.login-form {
    padding: 20px 15px;
}

.data, .login-form button{
    width: 100%;
    border: none;
    padding: 12px;
    margin: 12px 0;
    border-radius: 4px;
}

.login-form button {
    background-color: var(--celeste);
    color: #FFF;
}

.login-form button:hover {
    background-color: #1539c9;
    cursor: pointer;
}