@import url(var.css);
@import url(header.css);
@import url(footer.css);

main {
    margin: auto;
    width: 90vw;
    max-width: 800px;
}

.register-form {
    padding: 20px 15px;
}

.register-form label {
    display: block;
    font-size: 1.08rem;
    font-weight: 600;
    margin: 10px 0;
}

.data, .register-form button, .form-data div {
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.form-data div {
    padding-inline: 5px;
}

.form-data div span {
    margin-right: 14px;
    margin-left: 10px;
}

div.checkboxes {
    padding: 0 0 0 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

div.checkboxes div {
    width: 80%;
}

.register-form button {
    background-color: var(--rojo);
    color: #FFF;
}

.register-form a button {
    background-color: var(--celeste);
    color: #FFF;
}

.register-form button:hover {
    background-color: #eb0404;
    cursor: pointer;
}

.register-form a button:hover {
    background-color: #1539c9;
    cursor: pointer;
}

#avatar {
    width: 100%;
}

/*------------------------ MEDIA QUERIES ------------------------*/

@media (min-width: 480px) {
    div.checkboxes div {
        width: 40%;
    }
}


@media (min-width: 640px) {
    div.checkboxes div {
        width: 30%;
    }
}
