<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <header>
        <section class="header-menu">
            <a href="/src/views/index.html"><img src="/public/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" class="logo"></a>
            <div class="header-menu-busqueda">
                <form action="/" method="get">
                    <input type="text" name="search" class="search" placeholder="Buscá productos, marcas y más" required>
                    <button class="searchBtn"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <h2 class="header-pagos"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </section>
        <nav>
            <ul class="nav-izq">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-der">
                <li><a href="/src/views/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/src/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu centrado">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/public/img/img-home-banner.jpg" alt="Home Banner" class="banner">
    </header>

    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <ul class="main-flex">
                <li>
                    <article>
                        <img src="/public/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="/public/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="/public/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy S10</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="/public/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43\"">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </li>
            </ul>
        </section>
        <section>
            <h2>Ofertas</h2>
            <ul class="main-flex">
                <li>
                    <article>
                        <img src="/public/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="/public/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="/public/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy S10</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <img src="/public/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43\"">
                        <div class="article-data">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <div class="pricing">
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </li>
        </section>
    </main>

    <footer>
        <div class="footer-data">
            <section class="informacion">
                <div class="centrado"><i class="fas fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="informacion">
                <div class="centrado"><i class="fas fa-gift"></i></div>
                <h4>Envío gratis desde $2.500</h4>
                <p class="footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="informacion">
                <div class="centrado"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p class="footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="copyright">
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>